.root{
    background-color:#f2f2f2;
}
.title {
  width: 100%;
  background: #0084f1;
  height:1rem;
  line-height: 1rem;
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding: 0 0.3rem;
}