.loading {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        img {
            position: relative;
            left: 30px;
            display: block;
        }
    }

}
